backup/

slask/

*.zip

*.pbxproj

*.xcworkspacedata

*.xcuserstate

*.xcbkptlist

*.xcscheme

*.plist

*.1

*.xccheckout

pathfinder/NLTimerScoped.h

pathfinder/intervalheap_template.h

pathfinder/sma.cpp

pathfinder/sma.h